* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --main-color: #10CAB7;
    --secondary-color: #2C4755;
    --section-padding: 60px;
    --section-background-color: #f6f6f6;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.special-heading {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    text-align: center;
    font-size: 20px;
    color: #797979;
    margin: -30px 0 0;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
        font-size: 15px;
    }
}

.leanding-page .heading {
    padding: 20px;
}

.leanding-page .heading .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leanding-page .heading .logo {
    width: 60px;
}

.leanding-page .heading .side-bar {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: 5px;
}

.leanding-page .heading .side-bar span {
    background-color: rgb(32, 32, 32);
    height: 2px;
    margin-bottom: 5px;
}

.leanding-page .heading .side-bar :first-child {
    width: 100%;
}
.leanding-page .heading .side-bar :nth-child(2) {
    width: 60%;
    transition-duration: 0.3s;
}

.leanding-page .heading:hover .side-bar :nth-child(2) {
    width: 100%;
}

.leanding-page .heading .side-bar :last-child {
    width: 100%;
}

.leanding-page .heading .links {
    position: relative;
}

.leanding-page .heading .links .ul-links {
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 200px;
    list-style: none;
    top: calc(100% + 15px);
    right: 0;
    background-color: #f6f6f6;
    border-radius: 10px;
    z-index: 1;
    display: none;
}
.leanding-page .heading .links:hover .ul-links {
    display: block;
}

.leanding-page .heading .links .ul-links::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
}

.leanding-page .heading .links .ul-links li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}

.leanding-page .heading .links .ul-links li a{
    color: #333;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition-duration: 0.3s;
}
.leanding-page .heading .links .ul-links li:hover a{
    padding-left: 30px;
}

.leanding-page .landing-sec {
    height: calc(100vh - 66px);
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    position: relative;
}

.leanding-page .landing-sec .intro-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    max-width: 100%;
}

.leanding-page .landing-sec .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.leanding-page .landing-sec .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

.leanding-page .features {

    background-color: var(--section-background-color);
}

.leanding-page .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.leanding-page .features .container .feat {
    padding: 20px;
    transition-duration: 0.3s;
    padding: var(--section-padding) 0;
}

.leanding-page .features .container .feat:hover {
    box-shadow: 0 0 10px #3333332c;
}

.leanding-page .features .container {
    text-align: center;
}

.leanding-page .features .container i {
    color: var(--main-color);
}

.leanding-page .features .container h3 {
    font-weight: 800;
    margin: 30px 0;
}

.leanding-page .features .container p {
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}

.leanding-page .services-sec {
    padding: var(--section-padding) 0;
}

.leanding-page .services {
    display: flex;
    padding: var(--section-padding) 0;
}

.leanding-page .services-sec .image-sec {
    position: relative;
    padding-left: 40px;
}

.leanding-page .services-sec .image-sec img {
    width: 250px;
    margin-top: 30px;
}

.leanding-page .services-sec .image-sec .shape {
    content: "";
    position: absolute;
    top: -20px;
    right: -40px;
    background-color: var(--secondary-color);
    height: 360px;
    width: 100px;
    z-index: -1;
}

@media (max-width: 1199px) {
    .leanding-page .services-sec .image-sec {
        display: none;
    }
}

.leanding-page .services-sec .sub-services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.leanding-page .services-sec .sub-services .service {
    display: flex;
    margin-bottom: 40px;
}

.leanding-page .services-sec .sub-services .service i {
    color: var(--main-color);
    flex-basis: 60px;
}

.leanding-page .services-sec .sub-services .service .text {
    flex: 1;
}

@media (max-width: 767px) {
    .leanding-page .services-sec .sub-services .service {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.leanding-page .services-sec .service .text h3 {
    margin: 0 0 20px;
}

.leanding-page .services-sec .service .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.leanding-page .portfolio-sec {
    background-color: var(--section-background-color);
    padding: var(--section-padding) 0;
}

.leanding-page .portfolio-sec .sub-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding-top: var(--section-padding);
}

.leanding-page .sub-portfolio .image {
    height: 240px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
}

.leanding-page .cart:hover .image {
    background-size: 120%;
}

.leanding-page .sub-portfolio :nth-child(1) .image {
    background-image: url("/images/portfolio-1.jpg");
}
.leanding-page .sub-portfolio :nth-child(2) .image {
    background-image: url("/images/portfolio-2.jpg");
}
.leanding-page .sub-portfolio :nth-child(3) .image {
    background-image: url("/images/portfolio-3.jpg");
}


.leanding-page .sub-portfolio .cart { 
    background-color: white;
}

.leanding-page .sub-portfolio .cart .text {
    padding: 20px
}

.leanding-page .sub-portfolio .cart .text h3 {
    margin: 0;
}
.leanding-page .sub-portfolio .cart .text p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

.leanding-page .about-sec {
    padding: var(--section-padding) 0 calc(var(--section-padding) + 60px);
}

.leanding-page .about-sec .sub-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

@media (max-width: 991px) {
    .leanding-page .about-sec .sub-about {
        flex-direction: column;
        text-align: center;
    }
    .leanding-page .about-sec .image-sec {
        margin: 0 auto 60px;
    }
}

.leanding-page .about-sec .sub-about .image-sec img {
    width: 100%;
}

.leanding-page .about-sec .sub-about .image-sec {
    width: 250px;
    height: 375px;
    position: relative;
}

@media (min-width: 992px) {
.leanding-page .about-sec .sub-about .image-sec::before {
    content: "";
    width: 100px;
    top: -45px;
    left: -20px;
    position: absolute;
    height: calc(100% + 80px);
    background-color: #ebeced;
    z-index: -1;
}
.leanding-page .about-sec .sub-about .image-sec::after {
    content: "";
    top: -45px;
    right: -150px;
    width: 120px;
    height: 300px;
    position: absolute;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    z-index: -1;
}
}


.leanding-page .about-sec .sub-about .text-sec {
    flex-basis: calc(100% - 500px);
}

.leanding-page .about-sec .sub-about .text-sec :first-child {
    font-weight: bold;
    line-height: 2;
    margin: 0;
}

.leanding-page .about-sec .sub-about .text-sec :last-child {
    color: #777;
    line-height: 2;
    margin: 0;
}

.leanding-page .about-sec .sub-about .text-sec .line {
    height: 2px;
    width: 50%;
    background-color: var(--main-color);
    margin: 50px 0 30px;
    display: inline-block;
}

.leanding-page .contact-sec {
    padding: var(--section-padding) 0;
    background-color: var(--section-background-color);
}

.leanding-page .contact-sec .sub-contact {
    padding: var(--section-padding) 0;
    text-align: center;
}

.leanding-page .contact-sec .sub-contact>p:first-child {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.leanding-page .contact-sec .sub-contact a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
}

@media (max-width: 767px) {
    .leanding-page .contact-sec .sub-contact>p:first-child,
    .leanding-page .contact-sec .sub-contact a {
        font-size: 25px;
    }
}

.leanding-page .contact-sec .sub-contact .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}
.leanding-page .contact-sec .sub-contact .links>p:first-child {
    margin: 0;
}

.leanding-page .contact-sec .sub-contact .links a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 10px;
    font-size: inherit;
}

.leanding-page .footer {
    padding: 30px 0;
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: var(--secondary-color);
}

.leanding-page .footer span {
    font-weight: bold;
    color: var(--main-color);
}